/* Header */
#header {
    text-align: center;
    
}

.nav-item {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    background-color: lightblue;
    border-radius: 20px;
}

/* Index */

/* About Me */
#about-me {
    float: left;
    position: relative;
    left: 50%;
}

#intro {
    float: left;
    position: relative;
    left: -50%;
}

/* Projects */
#contents {
    margin: auto;
    text-align: center;
}

#my-projects {
    display: grid;
    grid: flex;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.project {
    padding: 10px;
    border: 1px solid;
    color: black;
    border-radius: 10px;
    text-align: center;
    place-content: center;
}

.description {
    width: 250px;
    height: auto;
}

/* Test */
#testing {
    text-align: center;
}


#greeting-container {
  margin-top: 20px;
}

/* Contact Me */
.logo {
    width: 50px;
    height: 50px;
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

.logo:hover {
    animation: rotation 3s infinite linear;
}

#contacts {
    text-align: center;
    margin: auto;
}

/* All */
a {
    font: black;
    display: inline-block;
    text-decoration: none;
}

a:visited { 
    text-decoration: none;
    color: black;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }